<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Trail Name: </h3>
    <p>{{name}}</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Trailhead Location: </h3>
    <p>{{location}}</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Trail Distance: </h3>
    <p>{{distance}} miles</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Trail Elevation: </h3>
    <p>{{elevation}} ft.</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-4" id="idView">
    <h3>Difficulty Level: </h3>
    <p>{{difficulty}}</p>
  </div>
</div>
{{!-- <div class="column">
  <button id="editTrail" class="btn-no-style">Edit Trail</button>
</div>
</div> --}}